In [ ]:
import pandas as pd

◆ 인덱스의 종류

1) 명칭 기반 인덱싱

  - 칼럼의 명칭을 기반으로 위치를 지정하는 방식
    
2) 위치 기반 인덱싱

  - 0을 시작값으로 행과 열의 위치를 지정
    
3) 불리언 인덱싱

  - [  ] 안에 조건식을 입력하여 해당하는 데이터만 추출할 때 사용

In [ ]:
df=pd.DataFrame(
    data=[['홍길동',80,90,85],
          ['이기자',70,75,85],
           ['최신',100,90,95]],
    index=[1,2,3],
     columns=['name','kor','eng','mat'])

In [ ]:
df

  name  kor  eng  mat
1  홍길동   80   90   85
2  이기자   70   75   85
3   최신  100   90   95

▶ 명칭 기반 인덱싱 예제

In [ ]:
df['name'] # name(열)에 해당하는 데이터 추출

1    홍길동
2    이기자
3     최신
Name: name, dtype: object

In [ ]:
df.loc[1] # 1(행)에 해당하는 데이터 추출

name    홍길동
kor      80
eng      90
mat      85
Name: 1, dtype: object

In [ ]:
df.loc[2,'name'] # 2번 행의 name 추출

'이기자'

In [ ]:
df[['name','eng']] # 2개 이상의 열을 추출하기 위해 2차원 배열 형태 사용

  name  eng
1  홍길동   90
2  이기자   75
3   최신   90

In [ ]:
df.loc[[1,2,3],['name','eng']]

  name  eng
1  홍길동   90
2  이기자   75
3   최신   90

In [ ]:
df.loc[[1, 3],['name','eng']]

  name  eng
1  홍길동   90
3   최신   90

▶ 위치기반 인덱싱 예제

In [ ]:
df

  name  kor  eng  mat
1  홍길동   80   90   85
2  이기자   70   75   85
3   최신  100   90   95

In [ ]:
df[0:1]

  name  kor  eng  mat
1  홍길동   80   90   85

In [ ]:
df.iloc[0]

name    홍길동
kor      80
eng      90
mat      85
Name: 1, dtype: object

In [ ]:
df.iloc[0:2,[0,2]] # 숫자 인덱스

  name  eng
1  홍길동   90
2  이기자   75

▶ 불리언 인덱싱 예제

In [ ]:
df

  name  kor  eng  mat
1  홍길동   80   90   85
2  이기자   70   75   85
3   최신  100   90   95

In [ ]:
df.eng>=90

1     True
2    False
3     True
Name: eng, dtype: bool

In [ ]:
df[df.eng>=90]

  name  kor  eng  mat
1  홍길동   80   90   85
3   최신  100   90   95

In [ ]:
df.loc[df.eng>=90]

  name  kor  eng  mat
1  홍길동   80   90   85
3   최신  100   90   95

In [ ]:
df.loc[df.eng>=90,['name','eng']]

  name  eng
1  홍길동   90
3   최신   90

◆ DataFrame의 인덱스 배정

In [ ]:
df

  name  kor  eng  mat
1  홍길동   80   90   85
2  이기자   70   75   85
3   최신  100   90   95

In [ ]:
df.index

Int64Index([1, 2, 3], dtype='int64')

In [ ]:
df.index=[2,3,4]

In [ ]:
df

  name  kor  eng  mat
2  홍길동   80   90   85
3  이기자   70   75   85
4   최신  100   90   95

◆ 칼럼명 인덱스로 설정하기

1) set_index 함수

  - 특정 열을 행 인덱스로 설정해 줌
    
  [형식]  df.set_index(keys, drop=True, append=False, inplace=False)

    - keys : 인덱스로 설정할 열 또는 열 목록
        
    - drop : Bool, 기본값은 True로 인덱스로 설정할 칼럼을 삭제
        
    - append : Bool, 기본값은 False이며 기존 색인에 열을 추가할지 지정
        
    - inplace : Bool, True이면 원본 DataFrame 에서 수정

In [ ]:
df.index=[1,2,3]
df

  name  kor  eng  mat
1  홍길동   80   90   85
2  이기자   70   75   85
3   최신  100   90   95

In [ ]:
df.set_index('name')

      kor  eng  mat
name
홍길동    80   90   85
이기자    70   75   85
최신    100   90   95

In [ ]:
df.reset_index(drop=True)

  name  kor  eng  mat
0  홍길동   80   90   85
1  이기자   70   75   85
2   최신  100   90   95

◆ 인덱스 재배열하기

1) reindex 함수

  - 특정 행을 따라 데이터의 순서를 조정함
    
  [형식]  df.reindex(새로운 인덱스 배열, fill_value=값)

    - fill_value : 인덱스는 존재하나 데이터가 없는 인덱스에 채울 값 지정

In [ ]:
df

  name  kor  eng  mat
1  홍길동   80   90   85
2  이기자   70   75   85
3   최신  100   90   95

In [ ]:
df.reindex([2,1,3])

  name  kor  eng  mat
2  이기자   70   75   85
1  홍길동   80   90   85
3   최신  100   90   95

In [ ]:
df.reindex([1,2,3,4,5])

  name    kor   eng   mat
1  홍길동   80.0  90.0  85.0
2  이기자   70.0  75.0  85.0
3   최신  100.0  90.0  95.0
4  NaN    NaN   NaN   NaN
5  NaN    NaN   NaN   NaN

In [ ]:
df.reindex([1,2,3,4,5],fill_value=0)

  name  kor  eng  mat
1  홍길동   80   90   85
2  이기자   70   75   85
3   최신  100   90   95
4    0    0    0    0
5    0    0    0    0

◆ 인덱스 정렬하기

1) sort_index 함수

  - 행 인덱스를 기준으로 DataFrame 값을 정렬해 줌
    
  [형식]  df.sort_index(ascending=True)

- 오름차순 정렬

  df.sort_index() 또는 df.sort_index(ascending=True)

In [ ]:
df

  name  kor  eng  mat
1  홍길동   80   90   85
2  이기자   70   75   85
3   최신  100   90   95

In [ ]:
df.sort_index() # 오름차순 정렬

  name  kor  eng  mat
1  홍길동   80   90   85
2  이기자   70   75   85
3   최신  100   90   95

In [ ]:
df.sort_index(ascending=False) # 내림차순 정렬

  name  kor  eng  mat
3   최신  100   90   95
2  이기자   70   75   85
1  홍길동   80   90   85

2) sort_values 함수

  - 열 인덱스를 기준으로 DataFrame 값을 정렬해 줌
    
  [형식]  df.sort_values(필드리스트, ascending=True)

In [ ]:
df.sort_values('eng')

  name  kor  eng  mat
2  이기자   70   75   85
1  홍길동   80   90   85
3   최신  100   90   95

In [ ]:
df.sort_values(['eng','mat'],ascending=False) # eng를 기준으로 내림차순 후 mat를 기준으로 내림차순 정렬

  name  kor  eng  mat
3   최신  100   90   95
1  홍길동   80   90   85
2  이기자   70   75   85