In [3]:
import numpy as np

1. 다음 배열을 만들고 조건에 맞는 코드를 작성하시오.

In [4]:
a=np.array([[80,90,85],[75,60,80],[95,100,90]])

1) 위 배열에서 85 이상인 값을 추출하시오

In [5]:
a[a>=85]

array([ 90,  85,  95, 100,  90])

2) 위 배열에서 85이상인 값의 인덱스를 추출하시오

In [6]:
np.where(a>=85)
# 0행1열, 0행2열, 2행0열, 2행1열, 2행2열

(array([0, 0, 2, 2, 2], dtype=int64), array([1, 2, 0, 1, 2], dtype=int64))

3) 위 배열에서 85이상인 값을 3행 3열의 배열로 추출하되, 조건에 만족하지 않는 경우 0 출력

In [7]:
np.where(a>=85, a, 0)
# 두번째 인수 : 조건에 맞을 때 출력될 값
# 세번째 인수 : 조건에 맞지 않을 때 출력될 값

array([[  0,  90,  85],
       [  0,   0,   0],
       [ 95, 100,  90]])

2. 다음 두 개의 배열을 만들고 조건에 맞는 코드를 작성하시오.

In [8]:
a=np.array([80,90,85])
b=np.array([95,100,90])

1) 두 배열의 덧셈 결과

In [9]:
a+b

array([175, 190, 175])

In [10]:
np.add(a,b)

array([175, 190, 175])

2)  두 배열의 뺄셈결과

In [11]:
a-b

array([-15, -10,  -5])

In [12]:
np.subtract(a,b)

array([-15, -10,  -5])

3) 두 배열의 곱셈결과

In [13]:
a*b

array([7600, 9000, 7650])

In [14]:
np.multiply(a,b)

array([7600, 9000, 7650])

4) 두 배열의 나눈결과

In [15]:
a/b

array([0.84210526, 0.9       , 0.94444444])

In [16]:
np.divide(a,b)

array([0.84210526, 0.9       , 0.94444444])

5) 두 배열의 나머지

In [17]:
a%b

array([80, 90, 85], dtype=int32)

In [18]:
np.mod(a,b)

array([80, 90, 85], dtype=int32)

6) 두 배열의 몫과 나머지

In [19]:
np.divmod(a,b)

(array([0, 0, 0], dtype=int32), array([80, 90, 85], dtype=int32))

3. 다음 배열을 만들고 조건에 맞는 코드 작성

In [20]:
a=np.array([80,70,90,65,100,85])

1) 80~100 사이 값 출력

In [21]:
a[np.logical_and(a>=80, a<=100)]
# logical_and : 논리연산 and

array([ 80,  90, 100,  85])

2) 85 이상인 값 출력

In [22]:
a[a>=85]

array([ 90, 100,  85])

In [23]:
a[np.greater_equal(a,85)]

array([ 90, 100,  85])

3) 홀수값 출력

In [24]:
a[a%2==1]

array([65, 85])

In [25]:
a[np.equal(np.mod(a,2),1)]

array([65, 85])

4. 다음 배열을 만들고 조건에 맞는 코드 작성

In [26]:
a=np.array([80,np.nan,90,65,100,85])
# nan : not a number
# 다차원 배열의 값들은 모두 타입이 일치해야함
# => numpy에서 제공하는 nan값을 사용하면 정수타입이 됨

1) 위 배열에서 최대값을 출력

In [27]:
np.max(a)  # nan값이 있을 경우 max든 min이든 결과는 nan값이 됨

nan

In [28]:
np.nanmax(a)  # nan을 제외한 최대값을 계산

100.0

2) 위 배열에서 최소값을 b 배열을 만들어서 b 배열에 저장

In [29]:
b=np.nanmin(a)
b

65.0

3) 위 배열의 평균값 출력

In [30]:
np.nanmean(a)

84.0

4) 위 배열을 오른차순 정렬

In [31]:
np.sort(a)  # nan값을 100보다 크다고 인식함

array([ 65.,  80.,  85.,  90., 100.,  nan])

In [32]:
np.sort(a[np.logical_not(np.isnan(a))])
# logical_not : 논리함수 not
# isnan : nan인 것은 True로 반환됨
# => not함수로 nan은 False로, 나머지는 True로 반환됨

array([ 65.,  80.,  85.,  90., 100.])

In [33]:
np.sort(a[~np.isnan(a)])
# ~ : logical_not과 동일

array([ 65.,  80.,  85.,  90., 100.])

5) 위 배열을 내림차순 출력

In [34]:
np.sort(a)[::-1]
# 오름차순 정렬 후 내림차순으로 변경

array([ nan, 100.,  90.,  85.,  80.,  65.])

In [35]:
np.sort(a[~np.isnan(a)])[::-1]

array([100.,  90.,  85.,  80.,  65.])

5. 다음 배열을 만들고 조건에 맞는 코드 작성

In [36]:
a=np.array([[80,90,85],[75,60,80],[95,100,90]])

1) 위 배열에서 행별 최대값

In [37]:
a
# 2차원 배열 시 axis = 0 -> 열
# 2차원 배열 시 axis = 1 -> 행

array([[ 80,  90,  85],
       [ 75,  60,  80],
       [ 95, 100,  90]])

In [38]:
np.max(a,axis=1)
# axis = 축

array([ 90,  80, 100])

In [39]:
np.argmax(a,axis=1)

array([1, 2, 1], dtype=int64)

2) 위 배열에서 열별 최대값

In [40]:
np.max(a, axis=0)

array([ 95, 100,  90])

In [41]:
np.argmax(a, axis=0)

array([2, 2, 2], dtype=int64)

3) 전체 최대값

In [42]:
np.max(a)

100

6) 전체 최대값 인덱스

In [43]:
np.argmax(a)

7

6. 0~50 사이의 랜덤값 10개 출력( 중복 허용 )

In [44]:
np.random.choice(51, 10)  
# 50이 포함되어야 하므로 +1
# 두번째 인수 : 개수

array([ 8, 31, 35, 24, 42,  6, 24, 23, 49,  2])

7. 2~30 사이의 랜덤값 5개 출력( 중복 불가 )

In [45]:
np.random.choice(np.arange(2, 31),5,replace=False)
# 첫번째 인수로 범위값을 지정하여 하나의 인수처럼 수행시킴
# replace 명명하지 않을 시 default값은 True

array([23, 20, 17,  3,  7])

In [46]:
np.random.randint(2, 31, 5)
# randint함수 사용 시 replace를 지정할 수 없음 -> 중복값 발생함

array([11, 12,  6, 24, 12])

8. 3~10 사이의 수를 1씩 증가시켜 열 벡터 생성

In [69]:
a=np.arange(3,11)  # 행렬 또는 행벡터가 만들어짐
a=a.reshape(len(a),1)  # 행벡터를 열벡터로 변경
a
# 하나의 행으로 표시되는 벡터 : 행벡터
# 하나의 열로 표시되는 벡터 : 열벡터

array([[ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10]])

9. 10에서 5까지 1씩 감소하는 행 벡터를 생성하고 행 벡터의 크기를 구하시오

In [48]:
a=np.arange(10,4,-1)
a

array([10,  9,  8,  7,  6,  5])

In [49]:
np.linalg.norm(a)
# linalg : 선형배수
# norm : 행 벡터의 크기를 계산

18.841443681416774

10. 다음 두 벡터를 생성하고 벡터의 내적와 외적을 구하시오

In [50]:
a=np.array([6,2])
b=np.array([4,5])

In [51]:
a@b

34

In [52]:
np.dot(a,b)

34

In [53]:
np.cross(a,b)
# cross : 벡터의 외적을 구하는 함수

array(22)

11. 다음 행렬을 만들고 행렬의 전치 행렬을 구하시오.

In [54]:
a=np.array([[80,90,85],[75,60,80]])
a
# 전치행렬 :

array([[80, 90, 85],
       [75, 60, 80]])

In [55]:
a.T
# T : 가로로 된 행렬을 세로로 바꿔줌

array([[80, 75],
       [90, 60],
       [85, 80]])

12. 4행 4열의 항등행렬을 구하시오

In [56]:
np.eye(4)
# 항등행렬(단위행렬) : 정사각형 행렬, 대각선의 값은 1, 나머지는 0

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

13. 다음 행렬을 생성하고 역행렬을 구하시오.

In [57]:
a=np.array([[80,90],[75,60]])
a

array([[80, 90],
       [75, 60]])

In [58]:
np.linalg.inv(a)
# 역행렬 : 곱한 결과가 단위 행렬인 행렬을 갖는 행렬

array([[-0.03076923,  0.04615385],
       [ 0.03846154, -0.04102564]])

14. 다음 선형 연립방정식의 해를 구하시오.  
2x - y = 14  
  -2x + 4y = 10

In [59]:
A=np.array([[2,-1],[-2,4]])
b=np.array([14,10])

In [60]:
np.linalg.solve(A,b)
# 방적식의 개수와 미지수가 같을 경우 solve()함수 사용

array([11.,  8.])

In [61]:
invA=np.linalg.inv(A)
x=np.dot(invA,b)
x

array([11.,  8.])

15. 다음 선형 연립방정식의 해를 구하시오  
2x + 4y + 3z = 34  
  -3x + 4y + 3z = 25

In [62]:
A=np.array([[2,4,3],[-3,4,3]])
b=np.array([34,25])

In [63]:
x=np.linalg.lstsq(A,b,rcond=None)[0]
x
# 방적식의 개수와 미지수가 다를 경우 lstsq()함수 사용

array([1.8  , 4.864, 3.648])

16. 다음 행렬의 행렬식을 구하시오

In [64]:
a=np.array([[8,9],[11,6]])
a
# 행렬식 : 대각선으로 곱한 값을 뺌
# ex) (8 * 6) - (9 * 11)

array([[ 8,  9],
       [11,  6]])

In [65]:
np.linalg.det(a)
# numpy.linalg : 선형대수 함수
# det : 행렬식을 구하는 함수

-51.00000000000002

17. 다음 행렬식을 구하시오.

In [66]:
a=np.array([[9,11,5],[6,13,12],[7,3,6]])
a

array([[ 9, 11,  5],
       [ 6, 13, 12],
       [ 7,  3,  6]])

In [67]:
np.linalg.det(a)

541.0000000000002